
body{
    background-color: rgb(238, 224, 224);
}

p{
    color:rgb(31, 32, 32);
    text-decoration-line: underline;
    text-underline-offset: 4px;
    font-size: 1.1em;
}

.submit{
    float:right;
    display:inline;
    margin-right: 45%;
    margin-top: -30%;
}

#submitBtn{
    margin-bottom: 10%;
    margin-left: 30%;
    margin-top: 10px;
    color :white;
    padding: 7px;
    background-color: black;
    border-radius: 10px;
    
}

#result{
    display: inline-block;
    color:black;
    margin-left: 10%;
    font-size: 20px;
}
